@model ROM.Web.Areas.Administration.ViewModels.ManageRestaurantsViewModel

<div class="jumbotron">
    <h1 class="page-title animated lightSpeedIn">Administration</h1>
    <h3>Manage all restaurants in application!</h3>
</div>