<div class="jumbotron">
    <h1>Manage restaurant</h1>

</div>


<div class="row col-md-12">
    <div class="col-md-4 hover-effect">
        <div class="panel wrapper ">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cutlery fa-5x statistic-icon"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge statistic">@Model.CountRestaurants</div>
                        <div class="statistic">@Model.TextRestaurants!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
