<div class="jumbotron">
    <h1 page-title animated lightSpeedIn>Manage restaurant</h1>

</div>

<style>
    .table-img-container {
        -webkit-vendor-animation-duration: 10s;
        -webkit-vendor-animation-delay: 1s;
        -webkit-vendor-animation-iteration-count: infinite;
    }
</style>

<div class="col-md-12">

    <div class="col-md-3 text-center table-img-container">
        <a href="@Url.Action("Index", "Home")">
            <img class="table-img" src="~/Content/Images/FreeTable.png" alt="Free table" />
        </a>
    </div>

    <div class="col-md-3 text-center table-img-container">
        <a href="@Url.Action("Index", "Home")">
            <img class="table-img" src="~/Content/Images/NotFreeTable.png" alt="Not free table" />
        </a>
    </div>


    <div class="col-md-3 text-center table-img-container">
        <a href="@Url.Action("Index", "Home")">
            <img class="table-img" src="~/Content/Images/FreeTable.png" alt="Free table" />
        </a>
    </div>

    <div class="col-md-3 text-center table-img-container">
        <a href="@Url.Action("Index", "Home")">
            <img class="table-img" src="~/Content/Images/NotFreeTable.png" alt="Not free table" />
        </a>
    </div>

</div>
<div class="clearfix"></div>





@section tableScript {
    

    <script>
        $("body").on("mouseover", ".table-img-container", function (e) {
            console.log(5);
            var animationName = "animated pulse";
            var animationEnd = "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend";

            $(e.target).addClass(animationName).one(animationEnd, function () {
                $(this).removeClass(animationName)
            });
        });
    </script>


}