@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bulgaria<br />
    Sofia 1324<br />
    <abbr title="Phone">P:</abbr>
    +359 99 46 16 12
</address>

<address>
    <strong>Marketing:</strong> <a href="mailto:marian.nikolov.net.com">Marian.Nikolov.NET.com</a>
</address>