@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="page-title animated lightSpeedIn">Restaurant Organizational Manager</h1>
    <br />
    <p class="lead text-right">
        Restaurant Organizational Manager (ROM) System </br>
        is a platform created for your growing businesses.
    </p>
</div>

@{
    Html.RenderAction("Statistic", "Home", null);
}
