@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Organizational Manager</h1>
    <p class="lead text-right">
        Restaurant Organizational Manager (ROM) System </br>
        is platform was created for your growing business.
    </p>
</div>

@{
    Html.RenderAction("Statistic", "Home", null);
}
